/* design logo */

.contenitore_logo {
    padding-top: 1rem;
    padding-left: 0.5rem;
}

img {
    vertical-align: middle;
}

.logo_text {
    font-weight: 600;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.5rem;

}

/* Design i button */

.ricerca_1 {
    background-color: #47adf1;
    border-radius: 0.4rem;
    color: white;
    font-weight: 300;
    border: lightskyblue;
    padding: 0.3rem;


}

.ricerca_2 {
    border-radius: 0.4rem;
    color: lightgray;
    font-weight: 100;
    border-color: rgba(215, 218, 221, 0.464);
    padding: 0.3rem;


}

.contenitore_main {
    padding-left: 3rem;
    margin: 3rem;

}

.quadrato_1 {
    background-color: #47adf1;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
}

.quadrato_2 {
    background-color: #9f1066;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
}

.quadrato_3 {
    background-color: #15d35e;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
}

.quadrato_4 {
    background-color: #ea7f05;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
}